{% macro footer(data) %}
<footer class="site-footer">
  <section class="section" id="footer">
    <div class="container">
      <div class="layout-2col">
        <div>
          <h2 class="site-logo">SYLVAN</h2>
          <p class="footer-tagline">{{ data.tagline }}</p>
        </div>
        <div class="layout-2col">
          <div>
            <h3>{{ data.location_heading }}</h3>
            <p>{{ data.location_body | markdownify | safe }}</p>
          </div>
          <div>
            <h3>{{ data.contact_heading }}</h3>
            <p>{{ data.contact_body | markdownify | safe }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
{% endmacro %}
