<section class="hero" id="hero">

	{% from "components/bg-image.njk" import bgImage %}

	{% call bgImage(
		hero.background_image, 
		2400, 
		"hero-bg", 
		"center", 
		true
	) %}

		<div class="container overlay-content hero-overlay-content">
			<h1>{{ hero.headline }}</h1>
			<h2>{{ hero.subhead }}</h2>
			<a href="/inquire" class="btn">{{ hero.button_label }}</a>
		</div>
	{% endcall %}

</section>
