<section class="section section-height section-inverse">
  <div class="container">
  	<h2>{{ inquiry_cta.heading }}</h2>
    <p class="mb-6 text-xl">
      {{ inquiry_cta.text }}
    </p>

    <a href="/inquire/" class="btn btn-inverse">
      {{ inquiry_cta.button_label }}
    </a>
  </div>
</section>
