<section class="section section-inverse">
  <div class="container">
    <p class="mb-6 text-xl">
      {{ inquiry_cta.text }}
    </p>

    <a href="/inquire/" class="btn btn-inverse">
      {{ inquiry_cta.button_label }}
    </a>
  </div>
</section>
