{% extends "layouts/base.njk" %}

{% block content %}
  {% include "sections/hero.njk" %}
  {% include "sections/philosophy.njk" %}
  {% include "sections/couples.njk" %}
  {% include "sections/films.njk" %}
  {% include "sections/filmmaker.njk" %}
  {% include "sections/experience.njk" %}
  {% include "sections/inquiry-cta.njk" %}
{% endblock %}
